{% extends "base.html" %}
{% block body %}
<div>Message: {{ msg }}</div><br>
    {% for post in posts.items %}
        <div>{{ post.id }}:{{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a')}}<br> {{ post.body|safe }}</div><br>
    {% endfor %}

    {% if posts.has_prev %}
        <a href="/tag/{{ tag }}/{{ posts.prev_num }}">&lt;&lt; Newer posts</a>
    {% else %}
        &lt;&lt; Newer posts
    {% endif %}
    {% if posts.has_next %}
        <a href="/tag/{{ tag }}/{{ posts.next_num }}">Older posts &gt;&gt;</a>
    {% else %}
        Older posts &gt;&gt;
    {% endif %}

{% endblock %}
